<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776187583115-dqo4fisuurn6b046jqni8tloht7gdhpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776187583115-dqo4fisuurn6b046jqni8tloht7gdhpb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776187583115-b7dbr5jdsta5a3icvr5sucfimul371qe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvMXvnbE0BANO6bBRiULEGLyKVRMnSeuE</string>
	<key>GCM_SENDER_ID</key>
	<string>776187583115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.ff.ffbenchmark.staging</string>
	<key>PROJECT_ID</key>
	<string>ff-benchmark-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-benchmark-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776187583115:ios:76719a5e51b2c0f8ce528e</string>
</dict>
</plist>