<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328882098159-vjmu4vi4i4s3ucehtulpgcbaamiadui5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328882098159-vjmu4vi4i4s3ucehtulpgcbaamiadui5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328882098159-6669tk34o3clsf2gpa0b3r1u6phms1qb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoOihYFfRCv3wgCR8dmdVhojxrcXLxzt4</string>
	<key>GCM_SENDER_ID</key>
	<string>328882098159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.ff.ffbenchmark</string>
	<key>PROJECT_ID</key>
	<string>ff-benchmark-production</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-benchmark-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328882098159:ios:c725598d6a50c1213d701a</string>
</dict>
</plist>