<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015621602831-v1vj7fkdnbqvcpocvftaefcb1e6ra6be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015621602831-v1vj7fkdnbqvcpocvftaefcb1e6ra6be</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015621602831-epr7c5df4thcr9n9j7g1ekd95p6rbjqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBL225PJmOX6AiYkkdpokwe8HUImz1Iqv4</string>
	<key>GCM_SENDER_ID</key>
	<string>1015621602831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.ff.ffbenchmark.development</string>
	<key>PROJECT_ID</key>
	<string>ff-benchmark-development</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-benchmark-development.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015621602831:ios:31555540a946efed99dd7a</string>
</dict>
</plist>